/* Box sizing border-box for all elements */
* {
    box-sizing: border-box;
  }
  
  /* Remove default margin and padding */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  blockquote,
  dl,
  dd,
  ol,
  ul,
  fieldset,
  legend,
  figure,
  table,
  th,
  td,
  img {
    margin: 0;
    padding: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html {
    font-size: 16px;
  }
  
  /* Set core body defaults */
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img {
    max-width: 100%;
    display: block;
  }
  
  /* Natural flow and rhythm in articles by default */
  article > * + * {
    margin-top: 1em;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-play-state: paused !important;
      transition: none !important;
    }
  }